.Pdp {
    padding-top: 80px;
    position: relative;
    min-height: calc(100vh - 80px);
    &__wrapper {
        display: flex;
        flex-direction: row;
    }
    &__list {
        list-style-type: none;
        margin-right: 40px;
    }
    &__item {
        width: 80px;
        height: 80px;
        margin-bottom: 40px;
        cursor: pointer;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__chosenImg {
        width: 610px;
        height: 510px;
        margin-right: 100px;
    }
    &__details {
        width: 292px;
    }
    &__brand {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 16px;
    }
    &__name {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 43px;
    }
    &__attributes {
        list-style-type: none;
    }

    &__attrName {
        font-weight: 700;
        font-size: 18px;
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    &__attrItems {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
        list-style-type: none;
    }
    &__param {
        &-other {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            width: 63px;
            height: 45px;
            border: 1px solid rgba(29, 31, 34, 1);
            color: rgba(29, 31, 34, 1);
            cursor: pointer;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
        }
        &-color {
            margin-right: 10px;
            cursor: pointer;
            width: 32px;
            height: 32px;
        }
    }
    .activeOth {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(29, 31, 34, 1);
    }
    .activeCo {
        position: relative;
        &::before {
            content: "";
            width: 36px;
            height: 36px;
            border: 1px solid rgba(94, 206, 123, 1);
            position: absolute;
            left: -2px;
            top: -2px;
        }
    }
    &__descr {
        font-family: "Roboto", sans-serif;
        & ul {
            list-style-type: none;
        }
        & li {
            margin-bottom: 15px;
        }
        & h3,
        h1,
        p {
            margin-bottom: 10px;
        }
    }
    &__amount {
        font-weight: 700;
        font-size: 18px;
        margin: 20px 0;
    }
    &__button {
        text-transform: uppercase;
        width: 100%;
        height: 52px;
        background-color: rgba(94, 206, 123, 1);
        border: none;
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 40px;
        margin-top: 20px;
        opacity: 0.5;
    }
    .activeBtn {
        opacity: 1;
        cursor: pointer;
    }
}
