.Actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 205px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    &__arrow {
        user-select: none;
        vertical-align: middle;
    }
    &__currencies {
        user-select: none;
        cursor: pointer;
        margin-right: 22px;
        z-index: 3;
    }
    &__cart {
        cursor: pointer;
        position: relative;
    }
    &__qty {
        font-family: "Roboto", sans-serif;
        position: absolute;
        top: -15px;
        right: -15px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        line-height: normal;
    }
}

.Currencies {
    padding: 10px 0;
    list-style-type: none;
    position: absolute;
    top: 27px;
    right: -28px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(29, 31, 34, 1);
    box-shadow: 0px 4px 15.4px rgb(0, 0, 0, 0.08);
    z-index: 3;
    &__item {
        padding-left: 20px;
        height: 45px;
        width: 114px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .active {
        background-color: rgba(238, 238, 238, 1);
    }
}

.backDropCurrency {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}

.backDropBag {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(57, 55, 72, 0.22);
    z-index: 2;
}

.bagPreview {
    width: 352px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 52px;
    right: -52px;
    z-index: 3;
    padding: 32px 16px 32px 16px;
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        text-transform: uppercase;
        border: none;
        width: 140px;
        height: 43px;
        font-weight: 600;
        font-size: 14px;
        &-white {
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(29, 31, 34, 1);
            color: rgba(29, 31, 34, 1);
        }
        &-green {
            background-color: rgba(94, 206, 123, 1);
            color: rgba(255, 255, 255, 1);
        }
    }
    &__totalPrice {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        color: rgba(29, 31, 34, 1);
        font-size: 16px;
        &-title {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
        }
        &-amount {
            font-weight: 700;
        }
    }
    &__title {
        margin-bottom: 32px;
        font-size: 16px;
        color: rgba(29, 31, 34, 1);
        &-bold {
            font-weight: 700;
        }
        &-medium {
            font-weight: 500;
        }
    }
    &__list {
        list-style-type: none;
        width: 100%;
    }
}

.BagItem {
    margin-bottom: 40px;
    font-size: 16px;
    color: rgba(29, 31, 34, 1);
    &__wrapper {
        min-height: 190px;
        display: flex;
        justify-content: space-between;
        &-inner {
            display: flex;
        }
    }
    &__details {
    }
    // &__imageBlock {
    //     width: 121px;
    //     display: flex;
    // }
    &__image {
        // width: 100%;
        width: 121px;
        height: 100%;
        object-fit: cover;
    }
    &__counter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 8px;
    }
    &__operator {
        width: 24px;
        height: 24px;
        border: 1px solid rgba(29, 31, 34, 1);
        position: relative;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // font-size: 22px;
        &-incr {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 8px;
                height: 1px;
                border-top: 1px solid rgba(29, 31, 34, 1);
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 1px;
                height: 8px;
                border-left: 1px solid rgba(29, 31, 34, 1);
            }
        }
        &-decr {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 8px;
                height: 1px;
                border-top: 1px solid rgba(29, 31, 34, 1);
            }
        }
    }
    &__brand {
        font-weight: 300;
        margin-bottom: 10px;
    }
    &__name {
        font-weight: 300;
        margin-bottom: 10px;
    }
    &__price {
        font-weight: 500;
        margin: 14px 0 13px 0;
    }
    &__attrs {
        list-style-type: none;
    }
    &__attr {
    }
    &__attrName {
        margin-bottom: 10px;
    }
    &__attrItems {
        font-family: "Source Sans Pro", sans-serif;
        list-style-type: none;
        display: flex;
        margin-bottom: 10px;
        .color {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
        .other {
            padding: 4px;
            font-weight: 400;
            font-size: 14px;
            min-width: 24px;
            height: 24px;
            border: 1px solid rgba(29, 31, 34, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
        }
    }
    &__attrItem {
    }
}
