.Actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 205px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    &__arrow {
        user-select: none;
        vertical-align: middle;
    }
    &__currencies {
        user-select: none;
        cursor: pointer;
        margin-right: 22px;
        z-index: 3;
    }
    &__cart {
        cursor: pointer;
        position: relative;
    }
    &__qty {
        font-family: "Roboto", sans-serif;
        position: absolute;
        top: -15px;
        right: -15px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        line-height: normal;
    }
}

.Currencies {
    padding: 10px 0;
    list-style-type: none;
    position: absolute;
    top: 27px;
    right: -28px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(29, 31, 34, 1);
    box-shadow: 0px 0px 0.4px;
    z-index: 3;
    &__item {
        padding-left: 20px;
        height: 45px;
        width: 114px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .active {
        background-color: rgba(238, 238, 238, 1);
    }
}

.backDropCurrency {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}

.backDropBag {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(57, 55, 72, 0.22);
    z-index: 2;
}

.bagPreview {
    width: 352px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 52px;
    right: -52px;
    z-index: 3;
    padding: 32px 16px 32px 16px;
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        text-transform: uppercase;
        border: none;
        width: 140px;
        height: 43px;
        font-weight: 600;
        font-size: 14px;
        &-white {
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(29, 31, 34, 1);
            color: rgba(29, 31, 34, 1);
        }
        &-green {
            background-color: rgba(94, 206, 123, 1);
            color: rgba(255, 255, 255, 1);
        }
    }
    &__totalPrice {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        color: rgba(29, 31, 34, 1);
        font-size: 16px;
        &-title {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
        }
        &-amount {
            font-weight: 700;
        }
    }
    &__title {
        margin-bottom: 32px;
        font-size: 16px;
        color: rgba(29, 31, 34, 1);
        &-bold {
            font-weight: 700;
        }
        &-medium {
            font-weight: 500;
        }
    }
    &__list {
        list-style-type: none;
        width: 100%;
    }
}

.BagItem {
    margin-bottom: 40px;
    font-size: 16px;
    color: rgba(29, 31, 34, 1);
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__details {
    }
    &__imageBlock {
        width: 121px;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__counter {
    }
    &__brand {
        font-weight: 300;
        margin-bottom: 10px;
    }
    &__name {
        font-weight: 300;
        margin-bottom: 10px;
    }
    &__price {
        font-weight: 500;
    }
    &__attrs {
        list-style-type: none;
    }
    &__attr {
    }
    &__attrName {
    }
    &__attrItems {
        list-style-type: none;
    }
    &__attrItem {
    }
}
