.Currencies {
    list-style-type: none;
    position: absolute;
    top: 64px;
    right: 202px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(29, 31, 34, 1);
    box-shadow: 0px 0px 0.4px;
    &__item {
        padding-left: 20px;
        height: 62px;
        width: 114px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            transform: scale(1.03);
        }
    }
    .active {
        height: 45px;
        background-color: rgba(238, 238, 238, 1);
    }
}
