.Header {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    .Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__title {
        margin: 0;
        padding: 0;
    }
}
