.Actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 205px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    &__arrow {
        user-select: none;
        vertical-align: middle;
    }
    &__currencies {
        user-select: none;
        cursor: pointer;
        margin-right: 22px;
        z-index: 3;
    }
    &__cart {
        cursor: pointer;
        position: relative;
    }
    &__qty {
        font-family: "Roboto", sans-serif;
        position: absolute;
        top: -15px;
        right: -15px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        line-height: normal;
    }
}
